<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSYM_SinavTakvimi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OSYM_SinavTakvimi.Properties.Settings>
            <setting name="about" serializeAs="String">
                <value>Bu uygulama Harun ÇETİN tarafından geliştirilmiştir.
Yazılım geliştirmeye ve elektroniğe dair güncel yazılarımı görmek için web sitemi ziyaret edin. 
Görüş, öneri ve sorularınız için e-posta adresime yazın.

Web: http://www.haruncetin.com.tr
E-Posta: mailto:harun@haruncetin.com.tr
</value>
            </setting>
        </OSYM_SinavTakvimi.Properties.Settings>
    </userSettings>
</configuration>